#!/usr/bin/make -f

# Specify the source directory
SOURCE_DIR := $(CURDIR)/src

%:
        dh $@

# Building C# project
override_dh_auto_build:
        /home/roni/.dotnet/dotnet build $(SOURCE_DIR)/ -c Release

# Install the built files
override_dh_auto_install:
        mkdir -p debian/nextbus/usr/bin
        cp $(SOURCE_DIR)/bin/Release/net7.0/neXtBus debian/nextbus/usr/bin/
        cp $(SOURCE_DIR)/bin/Release/net7.0/neXtBus.dll debian/nextbus/usr/bin/
        cp $(SOURCE_DIR)/bin/Release/net7.0/neXtBus.runtimeconfig.json debian/nextbus/usr/bin/

# Cleaning build artifacts
override_dh_auto_clean:
        /home/roni/.dotnet/dotnet clean $(SOURCE_DIR)/
